<div id="item-index-wrapper">
  <div class="container">
    <% if @current_user %>
    <div class="like-items-box">
      <div class="top-box">
        <h5>いいね！した商品</h5>
        <div class="index-items row">
        <% @like_items.each do |like_item| %>
          
            <div class="items-box">
            <%= link_to like_item, {class: "item-link"} do %>
              <div class="index-item">
                <% if like_item.buyer %>
                <div class="index-sold-mark">
                  <p>SOLD</p>
                </div>
                <% end %>
                <%= image_tag "/item_images/#{like_item.image}", class: "like-item-img", height: "140px", width: "140px" %>
                <div class="index-price">
                  ¥<%= like_item.price %>
                </div>
              
              </div>
            <% end %>  
            </div>
          
        <% end %>
        <%= link_to "すべて見る >", "/users/#{@current_user.id}/like_index", class: "link-like-index" %>
        </div>
      </div>  
    </div><br><br><br>
    <% end %>
    <div class="top-box">
    <h3>&nbsp;&nbsp;新着アイテム</h3>
      <div class="index-items row">
        <%= render 'shared/items' %>
      </div>
    
  <% if @current_user %>  
    <%= render 'shared/display_btn' %>
  <% end %>  
    </div>
    <div class="see-more">
        <%= link_to(items_path) do %>
          <p>もっと見る ></p>
        <% end %>
        </div>
  </div> 
</div>

