<div id=<%= "page-wrapper" if current_page?(new_user_path) %>>
  <% if @user.new_record? %>
      <h2>新規登録</h2>
    <% end %>  
  <div class="page-container">
    <% unless @user.new_record? %><div class="profile">プロフィール</div><% end %> 
    <div class="page">
    <%= form_for @user do |f| %>
      <% if @user.new_record? %>
      
      <div class="form-group">
        <%= f.label :image, "画像" %><br>
        <%= f.file_field :image, class: "form-control-file" %>
      </div><br>
    
      <div class="form-group">
        <%= f.label :name, "ユーザー名" %><br>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
        <% if @user.errors.include?(:name) %>
          <%= @user.errors.full_messages_for(:name).first %>
        <% end %>  
      </div><br>
        
      
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.text_field :email, class: "form-control", placeholder: "メールアドレスを入力してください" %>
        <% if @user.errors.include?(:email) %>
          <%= @user.errors.full_messages_for(:email).first %>
        <% end %>  
      </div><br>

      
      <div class="form-group">
        <%= f.label :password, "パスワード" %><br>
        <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
        <% if @user.errors.include?(:password) %>
          <%= @user.errors.full_messages_for(:password).first %>
        <% end %>  
      </div>
      
      <div class="form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">パスワードを表示</label>
      </div><br><br>
      
        <%= f.submit "登録する", class: "form-btn-red" %>
      
      <% else %>
      
      <div class="edit-page">
        <%= image_tag "/user_images/#{@user.image}", class: "user-top-image edit-image", onClick: "$('.edit-up-file').click()" %>
        <%= f.file_field :image, class: "edit-up-file", style: "display:none;" %>
        <%= f.text_field :name, class: "edit-name" %>
      </div>
      
      <div class="edit-form-body">
        <div class="form-group">
          <%= f.label :text, "自己紹介" %><br>
          <%= f.text_area :text, class: "edit-body", placeholder: "自己紹介文を書こう", rows: "8" %>
          <% if @user.errors.include?(:text) %>
            <%= @user.errors.full_messages_for(:text).first %>
          <% end %>  
        </div>
        <%= f.submit "変更する", class: "form-btn-red" %>
      </div><br>
      
      <% end %>
    <% end %> 
    </div>
  </div>
</div>