<div id="page-wrapper">
  <h2>ログイン</h2>
  <div class="page-container">
    <div class="page">
    
      <%= form_for :user, url: users_login_path do |f| %> 
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class: "form-control", placeholder: "メールアドレスを入力してください" %>
        </div><br>
        
        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">パスワードを表示</label>
        </div><br>
        
        <%= f.submit "ログイン", class: "btn btn-success btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>