<% if @user.id == @current_user.id %>
  <h2>マイページ</h2>
<% else %>
  <h2><%= @user.name %>さん</h2><%= @user.id %>
<% end %> 


<div class="container">
  <div class="user-box">
    <div class="row">
      
      
      <div class="col-sm-4">
        <div class="box-1">
          <table border="1">
            <tr><th>&emsp;マイページ</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;お知らせ</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;やることリスト</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;いいね一覧</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;出品する</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;出品した商品-出品中</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;出品した商品-取引中</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;出品した商品-売却済み</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;購入した商品-取引中</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;購入した商品-過去の取引</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;評価一覧</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;お問い合わせ</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
          </table>
          
          <strong>メルペイ</strong>
          <table border="1">
            <tr><th>&emsp;残高・振り込み申請</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;メルペイ</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
          </table>
          
          <strong>評価</strong>
        　<table border="1">
            <tr><th>&emsp;プロフィール</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;発送元・お届け先住所変更</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;メール/パスワード</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;本人情報</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
            <tr><th>&emsp;ログアウト</th><td><%= fa_icon "chevron-right", class: "table-icon" %>&emsp;</td></tr>
        　</table>
        </div>
      </div>
      
      
      
      <div class="col-sm-8">
        <div class="box-2">
          <% if @user.image %>
            <p><%= image_tag "/user_images/#{@user.image}", width: "300px" %></p>
          <% end %>
          
          <p>ユーザー名：<%= @user.name %></p>
          <p>メールアドレス：<%= @user.email %></p>
          <p>ポイント：<%= @user.point %>P</p>
          <p>自己紹介：<%= @user.text %></p>
          
          <% if @user.id == @current_user.id %>
            <%= link_to "情報の編集", edit_user_path(@user) %>
          <% end %>  
          
          ・<%= link_to "出品一覧", "/items/#{@user.id}/saling_index" %>・<%= link_to "売却一覧", "/items/#{@user.id}/sold_index" %>・いいね一覧・購入一覧
          
          
          
          <% if @user.id == @current_user.id %>
            <%= link_to "退会する", user_path(@user), method: :delete, data: {confirm: "ポイント：#{@user.point}Pは消えてしまいます。本当に退会しますか？"} %>
          <% end %>
        </div>
      </div>
      
    </div> 
  </div>
</div>


<%= render 'shared/display_btn' %>
