<% @items.each do |item| %>
  <% if current_page?(root_path) || current_page?(items_path) %>
  <div class="col-md-3">
  <% end %>  
    <div class="items-box">
    <%= link_to item, {class: "item-link"} do %>
      <div class="index-item">
        <% if item.buyer %>
        <div class="index-sold-mark">
          <p>SOLD</p>
        </div>
        <% end %>
        <%= image_tag "/item_images/#{item.image}", {class: "index-img"} %>
        
        <div class="index-price">
          ¥<%= item.price %>
        </div>
      </div>
         
      <div class="index-item-body">
        <p><%= item.name.truncate(current_page?(root_path) || current_page?(items_path)? 20 : 13, omission: "…") %></p>
        <% if @current_user && Like.find_by(user_id: @current_user.id, item_id: item.id) %>
          <div class="index-item-like"><%= fa_icon "heart", style: "color:red;", class: "heart" %>&nbsp;<%= item.likes.count %></div>
        <% else %>   
          <div class="index-item-like"><%= fa_icon "heart-o" %>&nbsp;<%= item.likes.count %></div>
        <% end %>  
      </div>
    <% end %>
    </div>
  <% if current_page?(root_path) || current_page?(items_path) %>  
  </div>
  <% end %>
<% end %>