<script>
  $(function(){
    
    $("#grayLayer,#overLayer").on("click",function(){
      $(".modal-image").addClass('modal-small');
      $("#grayLayer,#overLayer").fadeOut();
    });
    $(window).on("scroll",function(){
      $(".modal-image").addClass('modal-small');
      $("#grayLayer,#overLayer").fadeOut();
    });
    $(".item-box").click(function(){
      $("#grayLayer").fadeIn('fast');
      $("#overLayer").fadeIn().html('<%= image_tag "/item_images/#{@item.image}", width: "700px", height: "700px", class: "modal-image modal-large" %>');
    });
    
  });
</script>

<div id="page-wrapper">
  <!--モーダル-->
  <div id="grayLayer"></div>
  <div id="overLayer" class="large"></div>
  <!---->
  <h2>商品ページ</h2>
  <div class="page-container">
    <div class="page">
      <div class="item-name">
        <h3><%= @item.name %></h3><br/>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="item-box">
            <%= image_tag "/item_images/#{@item.image}", class: "item-image", width: "300px" %>
            <% if @item.buyer %>
            <div class="sold-mark">
              <p>SOLD</p>
            </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 item-info">
          <table border="1">
            <tr>
              <th>出品者</th>
              <% if @item.saler %>
                <td><%= link_to @item.saler.name, @item.saler %></td>
              <% else %>
                <td>退会済み</td>
              <% end %>
            </tr>
            
            <tr>
              <th>商品の状態</th>
              <td><%= @item.state %></td>
            </tr>
            
            <tr>
              <th>配送料の負担</th>
              <td><%= @item.shipping_charge %></td>
            </tr>
            
            <tr>
              <th>配送の方法</th>
              <td><%= @item.shipping_method %></td>
            </tr>
            
            <tr>
              <th>発送元地域</th>
              <td><%= @item.region %></td>
            </tr>
            
            <tr>
              <th>発送日の目安</th>
              <td><%= @item.shipping_date %></td>
            </tr>
          </table>
        </div>
      </div>
      
      <br>
      
      <div class="item-price-info">
        <strong class="item-price">¥<%= @item.price %></strong>
      　<% if @item.shipping_charge == "送料込み(出品者負担)" %>
        送料込み
        <% end %>
      </div><br>
      
      <% unless @item.saler == @current_user || @item.buyer %>
        <%= link_to "/items/#{@item.id}/buyed", data: {confirm: "#{@item.price}P消費されます。本当に購入しますか?"} do %>
          <div class="get-item-btn">
            購入する
          </div>
        <% end %>
      <% end %>
      <div class="item-text">
        <%= simple_format(@item.text) %><br/>
      </div>
      
      <div class="like">
        <%= render "items/like" %>
      </div>
    </div>
  </div>
  
  <div class="page-container">
    <div class="page">
      <% @comments.each do |comment| %>
      <div class="comment-box">
        <p><%= simple_format(comment.body) %><%= time_ago_in_words comment.created_at %>前&emsp;&emsp;<%= link_to("/items/#{@item.id}/comments/#{comment.id}",class: "comment-delete", method: :delete, data: {confirm: "このコメントを本当に削除してもよろしいですか?"}) do %><%= fa_icon "trash" %><% end %><%= comment.user.name %></p>
      </div><br>
      <% end %>
      <p class="comment-warning">相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
      コメント
      <%= render '/comments/form' %>
    </div>
  </div>
  
  <% if @item.saler == @current_user %>
  <div class="page-container">
    <div class="page">
      <%= link_to edit_item_path(@item) do %>
        <div class="form-btn-red">
          商品編集
        </div>
      <% end %>
      <%= link_to item_path(@item), method: :delete, data:{confirm: "削除すると二度と復活できません。本当に削除しますか？"} do %>
        <div class="form-btn-gray">
          この商品を削除する
        </div>
      <% end %>
    </div>
  </div>  
  <% end %>
</div>

