<!DOCTYPE html>
<html>
  <head>
    <title>Mercari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @current_user %>
        <h2><%= link_to "mercari", users_path %></h2>
        <%= link_to "マイページ", user_path(@current_user) %>
        <%= link_to "ユーザー一覧", users_path %>
        <%= link_to "ログアウト", users_logout_path, method: :post %>
      <% else %>
        <h2><%= link_to "mercari", root_path %></h2>
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", users_login_path %>
      <% end %>
      <p><%= notice %></p>
    </header>
    <%= yield %>
  </body>
</html>
