<!DOCTYPE html>
<html>
  <head>
    <title>Mercari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff3333" >
        <%= fa_icon "twitter 2x", style: "color: white" %><%= link_to "mercari", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <% if @current_user %>
              <%= link_to(@current_user, class: "nav-link") do %>
                <%= fa_icon "user-circle 2x" %>マイページ
              <% end %> 
              <% end %>
            </li>
            <% if @current_user %>
              <li class="nav-item">
                <%= link_to(users_path, class: "nav-link") do %>
                  <%= fa_icon "users 2x" %>ユーザー一覧                 
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(items_path, class: "nav-link") do %>
                  <%= fa_icon "shopping-bag 2x" %>商品一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to(users_logout_path, class: "nav-link") do %>
                  <%= fa_icon "arrow-circle-left 2x" %>ログアウト
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to(new_user_path, class: "nav-link") do %>
                  <%= fa_icon "user-plus 2x" %>新規登録
                <% end %>              
              </li>
              <li class="nav-item">
                <%= link_to(users_login_path, class: "nav-link") do %>
                    <%= fa_icon "arrow-right 2x" %>ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "出品する", new_item_path, class: "btn btn-outline-light" if @current_user %>
            </li>
          </ul>
        </div>
      </nav>
      
      <% if alert || notice %>
        <div class="alert alert-warning notice-bar">
          <div class="container">
            <%= alert %>
            <%= notice %>
            <button type="button" class="close notice-btn" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      <% else %>
      <div class="alert-space"></div>
      <% end %> 
      
      <% if current_page?(root_path) %>
        <div class="jumbotron text-center hero">
          <div class="container">
            <h1>あなたのモノを出品しよう</h1>
            <p class="lead">フリマサイトです</p>
            <%= link_to "いますぐサインアップする", new_user_path, class: "btn btn-primary" unless @current_user %>
          </div>
        </div> 
      <% end %>
      
    </header>
    <div class="container content">
      <%= yield %>
    </div>
    <% unless current_page?(new_item_path || edit_item_path(@item)) %>
    <footer>
      <div class="container">
        <strong><h3>mercari</h3></strong>
        <ul>
          <li>メルカリについて</li>
          <li>ヘルプ＆ガイド</li>
          <li>会社概要</li>
          <li>国</li>
        </ul>
      </div>
    </footer>
    <% end %>
  </body>
</html>
