<!DOCTYPE html>
<html>
  <head>
    <title>Mercari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2><%= link_to "mercari", root_path %></h2>
      <% if @current_user %>
        <%= link_to @current_user.name, user_path(@current_user) %>
      <% end %>
        
      <%= link_to "新規登録", new_user_path %>
      <%= link_to "ログイン", users_login_path %>
      <%= link_to "ログアウト", users_logout_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= notice %>
    </header>
    <%= yield %>
  </body>
</html>
